@layer components {
  .btn {
    @apply rounded-xl w-36 mx-auto px-4 py-2 font-body text-sm font-bold transition
            bg-bg border text-ink 
           hover:bg-ink/5;
  }

    .btn--secondary {
    @apply rounded-xl w-36 mx-auto px-4 py-2 font-body text-sm font-bold transition
            bg-surface border text-ink hover:bg-accent;
  }
}