<header class="header">
  <nav class="nav">
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">INICIO</a></li>
      <li><a routerLink="/about-me" routerLinkActive="active">SOBRE MÍ</a></li>
      <li><a routerLink="/profile" routerLinkActive="active">PERFIL</a></li>
      <li><a routerLink="/portfolio" routerLinkActive="active">MI TRABAJO</a></li>
      <li><a routerLink="/makeup-services" routerLinkActive="active">SERVICIOS</a></li>
      <li><a routerLink="/online-classes" routerLinkActive="active">FORMACIÓN EN LÍNEA</a></li>
      <li><a routerLink="/bookings/me" routerLinkActive="active">MIS RESERVAS</a></li>

      <ng-container *ngIf="(currentUser$ | async) as user; else guestLinks">
        <li class="user-info">
          Hola, {{ user.email }}
        </li>
        <li *ngIf="user.role === 'ADMIN'">
      <a routerLink="/admin/services" routerLinkActive="active">
        SERVICIOS ADMIN
      </a>
     </li>
     <li>  <a
    *ngIf="(currentUser$ | async)?.role === 'ADMIN'"
    routerLink="/admin/users"
  >
    LISTA USUARIOS
  </a></li>
        <li class="auth-link">
          <button type="button" (click)="logout()">CERRAR SESIÓN</button>
        </li>
        
      </ng-container>

      <ng-template #guestLinks>
        <li class="auth-link">
          <a routerLink="/auth/login" routerLinkActive="active">INICIAR SESIÓN</a>
        </li>
        <li>
          <a routerLink="/auth/register" routerLinkActive="active">
            REGISTRARSE
          </a>
        </li>
      </ng-template>
    </ul>
  </nav>
</header>