<h1>Portafolio de Artistry by Sara</h1>
<img src="./assets/img/artistico.jpg" alt="Fotografía de Sara Lengua, maquilladora profesional sosteniendo un bote de laca para el pelo mientras trabaja en el peinado y maquillaje de una clienta.">
<p>Mi portafolio es una ventana a mi universo creativo: un espacio donde la técnica y la imaginación se encuentran para dar vida a cada proyecto. En él podrás descubrir desde maquillajes sociales que realzan la belleza natural, hasta propuestas editoriales, artísticas, bodypaint y efectos especiales que exploran nuevas formas de expresión.</p>
<p>Cada trabajo refleja mi pasión por los detalles, el color y las texturas, y es una invitación a ver cómo el maquillaje puede transformarse en una experiencia visual única.</p>
<img src="./assets/img/peinado.jpg" alt="Fotografía de Sara Lengua, maquilladora profesional sosteniendo un bote de laca para el pelo mientras trabaja en el peinado y maquillaje de una clienta.">
