<section class="portfolio page">
    <h2 class="portfolio__title heading">Portafolio de Artistry by Sara</h2>
    <div class="portfolio__intro">
        <p class="portfolio__text">Mi portafolio es una ventana a mi universo creativo: un espacio donde la técnica y la imaginación se encuentran para dar vida a cada proyecto. En él podrás descubrir desde maquillajes sociales que realzan la belleza natural, hasta propuestas editoriales, artísticas, bodypaint y efectos especiales que exploran nuevas formas de expresión.</p>
        <p class="portfolio__text">Cada trabajo refleja mi pasión por los detalles, el color y las texturas, y es una invitación a ver cómo el maquillaje puede transformarse en una experiencia visual única.</p>
    </div>
    <div class="portfolio__gallery">
        <img  class="portfolio__image" src="./assets/img/artistico.jpg" alt="Fotografía de Sara Lengua, maquilladora profesional sosteniendo un bote de laca para el pelo mientras trabaja en el peinado y maquillaje de una clienta.">
        <img   class="portfolio__image" src="./assets/img/peinado.jpg" alt="Fotografía de Sara Lengua, maquilladora profesional sosteniendo un bote de laca para el pelo mientras trabaja en el peinado y maquillaje de una clienta.">
    </div>    

</section>

