@layer components {
  .auth {
    @apply max-w-80 mx-auto bg-white rounded-2xl m-8;
  }

  .auth__title {
    @apply mb-8 text-3xl;
  }

  .auth__form {
    @apply w-full;
  }


  @media (min-width: 768px) {
    .auth__form {
      @apply max-w-md mx-auto;
    }
  }
}