  <h1>Servicios</h1>

<section class="makeup_services-list">

  <div *ngIf="loading$ | async">Cargando servicios...</div>
    <div class="makeup_services-grid" *ngIf="(makeupServices$ | async) as makeupServices">
    <div *ngIf="makeupServices.length === 0">
      No hay servicios disponibles de momento.
    </div>

    <article class="makeup_service-card" *ngFor="let  makeupService of makeupServices">
      <div class="makeup_service-card__image" *ngIf="makeupService.photo">
        <img
          [src]="makeupService.photo"
          [alt]="makeupService.service_name"
        />
      </div>

      <div class="makeup_service-card__content">
        <a [routerLink]="['/makeup-services', makeupService.id]"><h2>{{ makeupService.service_name }}</h2></a>

        <p class="makeup_service-card__description">
          {{ makeupService.description }}
        </p>

        <p class="makeup_service-card__meta">
          Desde
          <strong>{{ makeupService.price_from | currency : 'COP ' }}</strong>
          · {{ makeupService.duration }} min
        </p>
      </div>
      <button type="button" (click)="onBook(makeupService.id)">RESERVAR</button>
    </article>
  </div>
</section>