<section class="makeup-service-detail page" *ngIf="makeupService$ | async as makeupService">
  <button class="makeup-service-detail__back btn btn--secondary" type="button" (click)="router.navigate(['/makeup-services'])">
    Volver a servicios
  </button>

  <div class="makeup-service-detail__layout">
    <div class="makeup-service-detail__content">
      <h2 class="makeup-service-detail__title heading">{{ makeupService.service_name }}</h2>

      <p class="makeup-service-detail__price">
        Desde {{ makeupService.price_from | currency : 'COP ' }}
      </p>

      <p class="makeup-service-detail__duration">
        Duración aproximada: {{ makeupService.duration }} min
      </p>

      <p >
        {{ makeupService.description }}
      </p>

      <button class="makeup-service-detail__cta btn btn--accent" type="button" (click)="onBook(makeupService.id)">
        RESERVAR
      </button>
    </div>

    <div class="makeup-service-detail__media" *ngIf="makeupService.img">
      <img class="makeup-service-detail__media" [src]="makeupService.img" [alt]="makeupService.service_name" />
    </div>
  </div>
</section>

<div class="makeup-service-detail__loading" *ngIf="loading$ | async">
  Cargando servicio...
</div>