<section *ngIf="makeupService$ | async as makeupService">
  <button type="button" (click)="router.navigate(['/makeup-services'])">
    Volver a servicios
  </button>

  <div>
    <div >
      <h1>{{ makeupService.service_name }}</h1>

      <p >
        Desde {{ makeupService.price_from | currency : 'COP ' }}
      </p>

      <p >
        Duración aproximada: {{ makeupService.duration }} min
      </p>

      <p >
        {{ makeupService.description }}
      </p>

      <button type="button" (click)="onBook(makeupService.id)">
RESERVAR      </button>
    </div>

    <div *ngIf="makeupService.img">
      <img [src]="makeupService.img" [alt]="makeupService.service_name" />
    </div>
  </div>
</section>

<div *ngIf="loading$ | async">
  Cargando servicio...
</div>