<footer class="footer">
  <nav class="footer__nav">
    <ul class="footer__list footer-nav__list">
      <li class="footer__item footer-nav__item">
          <a class="footer__link footer-nav__link" href="https://www.instagram.com/artistrybysara.mua/" target="_blank">Contacto</a>
        </li>
      <li class="footer__item footer-nav__item">
        <a class="footer__link footer-nav__link" href="#">Términos y Condiciones</a>
      </li>
      <li class="footer__item footer-nav__item">
        <a class="footer__link footer-nav__link" href="#">Política de Privacidad</a>
      </li>
    </ul>
  </nav>

  <p class="footer__copyright">
    © {{ currentYear }} Artistry by Sara MUA — Todos los derechos reservados.
  </p>
</footer>