<section class="about page">
  <h2 class="about__title heading">Sobre Artistry by Sara Lengua</h2>
  <img class="about__image" src="./assets/img/sara.jpg" alt="Fotografía de Sara Lengua, maquilladora profesional sosteniendo un bote de laca para el pelo mientras trabaja en el peinado y maquillaje de una clienta.">
  <div class="about__content">
    <p class="about__text">Hola!
     Soy Sara, licenciada en Lenguas Modernas, maquilladora artística y hair artist; con una profunda pasión por el arte visual y la enseñanza. Lo que más amo del maquillaje y el peinado es que puede ser una forma única de contar historias y transformar emociones.</p>
    <p class="about__text">Mi estilo se caracteriza por la atención al detalle, la armonía de colores, la exploración de texturas y la capacidad de fusionar lo clásico con lo innovador. Cada creación es un lienzo en el que busco resaltar la esencia de la persona, combinando técnica, sensibilidad estética y un toque de originalidad que convierte cada look en una experiencia única. Además, si quieres aprender sobre Kbeauty, ¡no hay mejor aliada que yo!</p>
    <p class="about__text">Como docente y artista, creo en el poder de compartir el conocimiento y acompañar a otros en el proceso de descubrir su propio lenguaje visual. Mi misión es que cada persona se sienta libre, segura y auténtica, utilizando el maquillaje y el peinado no solo como herramientas estéticas, sino como formas de expresión personal y artística.</p>
  </div>      
<section class="about page">
  
    