<div class="container">
  <section class="admin-classes page">
    <div class="admin-classes__header">
      <h2 class="admin-classes__title heading">Clases online (Admin)</h2>
      <button class="admin-classes__new btn btn--accent" type="button" (click)="onNewClass()">CREAR CLASE</button>
    </div>

    <div class="admin-classes__loading" *ngIf="loading$ | async">Cargando clases...</div>

    <div class="admin-classes__table table-wrapper" *ngIf="(classes$ | async) as classes">
      <table class="table">
        <thead class="table__head">
          <tr>
            <th class="table__cell">ID</th>
            <th class="table__cell">Nombre</th>
            <th class="table__cell">Descripción</th>
            <th class="table__cell">URL</th>
            <th class="table__cell">Acciones</th>
            <th class="table__cell">Dar acceso</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table__row" *ngIf="classes.length === 0">
            <td class="table__cell" colspan="6">No hay clases creadas todavía.</td>
          </tr>

          <tr class="table__row" *ngFor="let cls of classes">
            <td class="table__cell">{{ cls.id }}</td>
            <td class="table__cell">{{ cls.name }}</td>
            <td class="table__cell">{{ cls.description }}</td>
            <td class="table__cell">{{ cls.url }}</td>
            <td class="table__cell">
              <div class="table__actions admin-classes__actions">
                <button class="btn btn--secondary" type="button" (click)="onEditClass(cls)">EDITAR</button>
                <button class="btn btn--accent"type="button" (click)="onDeleteClass(cls.id)">ELIMINAR</button>
              </div>
            </td>
            <td class="table__cell">
              <div class="admin-classes__grant">
                <input
                class="admin-classes__grant-input form__input"
                #userIdInput
                type="number"
                placeholder="User ID"
                />
                <button class="admin-classes__grant-btn btn btn--primary"
                  type="button"
                  (click)="onGrantAccess(cls.id, userIdInput)">
                  DAR ACCESO
                </button>
              </div>            
            </td>
          </tr>
        </tbody>
      </table>
    </div>  
  </section>
</div>