/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base stylesheets */
@import 'styles/base/reset';
@import 'styles/base/typography';
@import 'styles/base/globals';
 
@import 'styles/layout/header';
@import 'styles/layout/footer';

@import 'styles/components/buttons';
@import 'styles/components/cards';
@import 'styles/components/forms';
@import 'styles/components/tables';


@import 'styles/pages/admin';
@import 'styles/pages/bookings';
@import 'styles/pages/home';
@import 'styles/pages/makeup_services';
@import 'styles/pages/online_classes';
@import 'styles/pages/static-pages';
