html {
  font-size: 100%;
}

body {
  @apply font-body text-ink;
}

/* Headings */
h1,
h2,
h3,
.heading {
  @apply font-display text-ink;
}

/* Sizes (mobile first) */
h1 {
  @apply text-2xl md:text-3xl;
}

h2 {
  @apply text-xl md:text-2xl;
}

h3 {
  @apply text-lg md:text-xl;
}

/* Paragraphs */
p {
  @apply text-sm md:text-base;
}